$accent-color: #416788;
$black: black;
$grey: #808080;
$white: #ffffff;
$button-color: #466b77;
$button-hover-color: #5E6572;
$login-container-color: rgba(255,255,255,0.5);
$user-pg-color: rgba(255, 255, 255, 0.61);
// FONTS
$primary-font: 'Kanit', sans-serif;
$header-font: 'Pacifico', cursive;
